In [2]:
import csv
file_path = "table8.txt"
with open(file_path, "r", encoding='utf-8') as file:
            reader = csv.reader(file, delimiter="\t")
            data = list(reader)

def mapper(record):
    gender = record[3]
    return (gender, "\t".join(record))



def partitioner(key_value_pairs):
    partitioned_data = {
        "<=20": [],
        "21-30": [],
        ">30": [],
    }
    for key, value in key_value_pairs:
        record = value.split("\t")
        age = int(record[2])
        if age <= 20:
            partitioned_data["<=20"].append((key, value))
        elif 21 <= age <= 30:
            partitioned_data["21-30"].append((key, value))
        else:
            partitioned_data[">30"].append((key, value))
    return partitioned_data



def reducer(data_partition):
    max_salary_male = {"<=20": 0, "21-30": 0, ">30": 0}
    max_salary_female = {"<=20": 0, "21-30": 0, ">30": 0}
    max_salary_male_record = {"<=20": "", "21-30": "", ">30": ""}
    max_salary_female_record = {"<=20": "", "21-30": "", ">30": ""}

    for age_group, records in data_partition.items():
        for gender, record in records:
            salary = int(record.split("\t")[-1])
            if gender == "мужчина" and salary > max_salary_male[age_group]:
                max_salary_male[age_group] = salary
                max_salary_male_record[age_group] = record
            elif gender == "женский" and salary > max_salary_female[age_group]:
                max_salary_female[age_group] = salary
                max_salary_female_record[age_group] = record

    return max_salary_male_record, max_salary_female_record


# Main
mapped_data = [mapper(record) for record in data]
partitioned_data = partitioner(mapped_data)
male_results, female_results = reducer(partitioned_data)


# #Вывод результатов
# print("Максимальные зарплаты мужчин:")
# for age_group, record in male_results.items():
#     print(f"Возрастная группа {age_group}: {record}")

# print("\nМаксимальные зарплаты женщин:")
# for age_group, record in female_results.items():
#     print(f"Возрастная группа {age_group}: {record}")


    # Вывод результатов
print("Максимальные зарплаты по возрастным категориям:")
for age_group in ["<=20", "21-30", ">30"]:
    print(f"\nВозрастная группа: {age_group}")
    print("Мужчины:")
    if male_results[age_group]:
        print(f"  {male_results[age_group]}")
    else:
        print("  Нет данных")
    
    print("Женщины:")
    if female_results[age_group]:
        print(f"  {female_results[age_group]}")
    else:
        print("  Нет данных")

# первая категории М и Ж. 2 - вторая возр категория. третья возрастная категория. нужен другой вывод

Максимальные зарплаты по возрастным категориям:

Возрастная группа: <=20
Мужчины:
  1205	Киран	20	мужчина	40000
Женщины:
  1207	Бхавайя	20	женский	15000

Возрастная группа: 21-30
Мужчины:
  1204	Prasanth	30	мужчина	30000
Женщины:
  1206	Лакшми	25	женский	35000

Возрастная группа: >30
Мужчины:
  1201	Гопал	45	мужчина	50000
Женщины:
  1202	Маниша	40	женский	50000

In [4]:
mapped_data

[('мужчина', '1201\tГопал\t45\tмужчина\t50000'),
 ('женский', '1202\tМаниша\t40\tженский\t50000'),
 ('мужчина', '1203\tХалил\t34\tмужчина\t30000'),
 ('мужчина', '1204\tPrasanth\t30\tмужчина\t30000'),
 ('мужчина', '1205\tКиран\t20\tмужчина\t40000'),
 ('женский', '1206\tЛакшми\t25\tженский\t35000'),
 ('женский', '1207\tБхавайя\t20\tженский\t15000'),
 ('женский', '1208\tReshma\t19\tженский\t15000'),
 ('мужчина', '1209\tkranthi\t22\tмужчина\t22000'),
 ('мужчина', '1210\tСатиш\t24\tмужчина\t25000'),
 ('мужчина', '1211\tКришна\t25\tмужчина\t25000'),
 ('мужчина', '1212\tАршад\t28\tмужчина\t20000'),
 ('женский', '1213\tЛаванья\t18\tженский\t8000')]

In [6]:
partitioned_data

{'<=20': [('мужчина', '1205\tКиран\t20\tмужчина\t40000'),
  ('женский', '1207\tБхавайя\t20\tженский\t15000'),
  ('женский', '1208\tReshma\t19\tженский\t15000'),
  ('женский', '1213\tЛаванья\t18\tженский\t8000')],
 '21-30': [('мужчина', '1204\tPrasanth\t30\tмужчина\t30000'),
  ('женский', '1206\tЛакшми\t25\tженский\t35000'),
  ('мужчина', '1209\tkranthi\t22\tмужчина\t22000'),
  ('мужчина', '1210\tСатиш\t24\tмужчина\t25000'),
  ('мужчина', '1211\tКришна\t25\tмужчина\t25000'),
  ('мужчина', '1212\tАршад\t28\tмужчина\t20000')],
 '>30': [('мужчина', '1201\tГопал\t45\tмужчина\t50000'),
  ('женский', '1202\tМаниша\t40\tженский\t50000'),
  ('мужчина', '1203\tХалил\t34\tмужчина\t30000')]}

In [8]:
male_results, female_results

({'<=20': '1205\tКиран\t20\tмужчина\t40000',
  '21-30': '1204\tPrasanth\t30\tмужчина\t30000',
  '>30': '1201\tГопал\t45\tмужчина\t50000'},
 {'<=20': '1207\tБхавайя\t20\tженский\t15000',
  '21-30': '1206\tЛакшми\t25\tженский\t35000',
  '>30': '1202\tМаниша\t40\tженский\t50000'})